.login-container {
   margin: 0 auto;
   font-size: 1rem;
   width: 320px;
   font-weight: 600;
}

.login-container a {
   color: var(--blue);
   font-weight: 700;
}

.login-container h3 {
   font-size: 1.3rem;
   margin-bottom: 1.5rem;
   font-weight: 700;
}

.password-input.form-control {
   padding-left: 2rem !important;
   padding-right: 2.3rem;
}

.password-icons {
   position: absolute;
   color: #2d4975;
   top: 25%;
}

.lock {
   left: 3%;
   top: 17%;
}

.eye-slash {
   right: 3%;
   cursor: pointer;
}

.about-account {
   font-size: 0.8rem;
}

.stayLoggedIn input {
   background-color: var(--blue);
}

.stayLoggedIn label {
   padding: 3px 0 0 0.3rem;
}

.login-btns {
   background-color: var(--blue);
   color: white;
   width: 100%;
   font-weight: 600;
   height: 3rem;
}

.sign-up-google-icon {
   position: absolute;
   top: 20%;
   left: 3%;
   border-right: 1px solid #8aa3c4;
   padding-right: 0.6rem;
}

.sign-up-google-icon img {
   width: 1.6rem;
   height: 1.6rem;
}

.sign-up-google .login-btns {
   background-color: rgba(10, 101, 184, 0.76);
}