.form-control {
  height: clamp(2rem, 3.5vw, 3rem);
}

.password-input.form-control {
  padding-left: 2rem !important;
  padding-right: 2.3rem;
  font-weight: bold;
}

.password-icons {
  position: absolute;
  color: #2d4975;
  top: 27%;
}

.lock {
  left: 3%;
  top: 22%;
}

.eye-slash {
  right: 3%;
  cursor: pointer;
}

.stayLoggedIn input {
  background-color: var(--blue);
}

.stayLoggedIn label {
  padding: 3px 0 0 0.3rem;
}

.sign-up-google-icon {
  position: absolute;
  top: 22%;
  left: 4%;
  border-right: 1px solid #8aa3c4;
  padding-right: 0.6rem;
}

.sign-up-google .login-btns {
  background-color: rgba(10, 101, 184, 0.76);
}
