.navigation {
  background-color: #eef8ff;
  padding-right: 1.8rem;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.navigation-logo {
  background-color: var(--blueBg);
  padding: 1.8rem 2rem 1.8rem 1.8rem;
  width: 20.5%;
  min-width: 12.6rem;
  max-width: 15.6rem;
}

.nav-logo {
  width: 100%;
  min-width: 5.5rem;
}

.nav-burger-btn {
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 1rem;
}

.nav-burger-btn img {
  width: 100%;
  min-width: 1rem;
}

.search {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  width: clamp(13rem, 1.5vw, 20rem);
  padding: 0.3rem 0.2rem 0.3rem 1.6rem;
  position: relative;
}

.search::placeholder {
  color: #00000033;
}

.search-icon {
  position: absolute;
  left: 3%;
  top: 22%;
  width: 8%;
}

.profile-icon {
  border-radius: 50%;
  width: 30%;
  min-width: 2.2rem;
}
