.content-description {
  padding: 2em;
  margin-top: 1.8rem;
}

.description-header {
  font-size: clamp(0.8rem, 1.5vw, 0.9rem);
}

.description-icons {
  padding-top: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
}

.content-description p {
  margin-bottom: 0;
}
