.book-hotel {
  width: 29%;
  max-width: 20rem;
  max-height: 31rem;
  padding: 0.8rem 1.3rem;
}

.book-hotel h2 {
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  background-color: white;
}
.book-hotel div {
  background-color: white;
}

.book-hotel-form {
  background-color: white;
}

.book-hotel-form input {
  background-color: var(--contentBg);
  background-color: #4e565f;
  border: none;
  outline: none;
}
