*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --blue: #0a65b8;
  --darkFontColor: #212529;
  --black: #0f172a;
  --fontSize14: clamp(0.7rem, 1.5vw, 0.8rem);
  --fontSize16: clamp(0.8rem, 1.5vw, 1rem);
  --fontSize24: clamp(1rem, 1.5vw, 1.5rem);
}

#root {
  height: 100%;
}

body {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: var(--fontSize16);
  height: 100vh;
}

.login-container {
  max-width: 20rem;
  width: 20rem;
  min-width: 16rem;
  margin: auto;
}

.logo {
  width: 8.75rem;
  height: 1.4rem;
  cursor: pointer;
}

.links {
  color: var(--blue);
  font-weight: 700;
}

.dark-font-color {
  color: var(--darkFontColor);
}

.form-icons {
  position: absolute;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-size-14 {
  font-size: clamp(0.7rem, 1.5vw, 0.8rem);
}

.font-size-24 {
  font-size: var(--fontSize24);
}

.font-size-28 {
  font-size: clamp(1rem, 1.7vw, 1.75rem);
}
