.home-search-page {
  width: 80%;
}

.cards,
.card-title {
  color: var(--contentColor) !important;
  font-size: var(--fontSize16);
}

.card-width {
  width: 29.3%;
  max-width: 336px;
  min-width: 190px !important;
}

.row > * {
  padding: 0 !important;
}

.card-body {
  padding: 0.6rem;
}

.card-content-text {
  padding: 0.4rem 0.5rem;
}

.card-content {
  color: #495560;
}

.card-content img {
  width: 1.5rem;
  height: 1rem;
}
