.cards,
.card-title {
  color: var(--contentColor) !important;
  font-size: var(--fontSize16);
}

.cards {
  justify-content: center;
  gap: 2rem;
}

.card-width {
  width: 19.8rem;
  max-width: 21rem;
}

.row > * {
  padding: 0 !important;
}

.card-body {
  padding: 0.6rem;
}

.card-content-text {
  padding: 0.4rem 0.5rem;
}

.card-content {
  color: #495560;
}

.card-content img {
  width: 1.5rem;
  height: 1rem;
}
